/*base styling*/

*{
	box-sizing: border-box;
}


body {
	font-size: 16px;
	color:#2D2D2D;
	background-color: #F6F6F6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

section {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: max(6vw, 90px);
	font-weight: 300;	
}

h2 {
	font-size: 50px;
	font-weight: 400;
}

h3 {
	font-size: 36px;
	font-weight: 400;	
}

h4 {
	font-size: 24px;
	font-weight: 400;	
}

h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

i {
	margin: 10px;
}

li {
	margin-bottom: 4px;
	margin-top: 4px;
}

hr {
	margin-top: 3%;
	padding-top: 0px;
	/*margin-bottom: 2%;*/
	padding-bottom: 0px;
	z-index: -1;
}

/*Table of content nav start*/

nav {
position: fixed;
top: 30px;
/*background-color: #F6F8FC;*/
width: 100%;
z-index: 100;
background-color: rgba(0, 0, 0, 0.5);
}


nav .container {
margin: auto auto;
text-align: center;
border-radius: 0px 0px 8px 8px;
/*background-color: rgba(0, 0, 0, 0.5);*/
}

nav .container ul {
margin-bottom: 0;
}

nav .container ul li {
display: inline-block;
border-radius:8px;
padding: 4px;
margin-bottom: 4px;
}

nav .container ul li a {
text-decoration: none;
padding: 8px 8px;
/*color: #ddd;*/
color: white;
border: none;
}

nav .container ul li.active {
background-color: #3b49df;
/*background-color: #444;*/
padding: 4px;
border-radius: 8px;
transition: 0.3s;
border: none;
}

nav .container ul li.active a {
color: white;
}


nav .container ul li:hover {
background-color: dimgray;
padding: 4px;
border-radius: 8px;
transition: 0.3s;
border: none;
}

/*Table of content nav end*/



/*.bg-dark {
	background-color: dimgray !important;
}*/


.bg-light {
	background-color: #F6F8FC !important;
}

.text-secondary {
	color: #1E2125 !important;
}

.italic {
	font-style: italic;
}

#logo-img {
	heigh: 24px;
	width: 24px;
	margin: 0 0 3px 0;
}

.body-dark {
	background-color: #292b2c !important;
}

.top-padding {
	padding-top: 80px;
}

.my-margin-b {
	margin-bottom: 32px;
}

.my-margin-tb {
	margin-top: 32px;
	margin-bottom: 32px;
}

.my-margin-t {
	margin-top: 32px;
}

.my-sec {
	padding-top: 3%;
	padding-bottom: 3%;
}

.my-padding-tb {
	padding-top: 32px;
	padding-bottom: 32px;
}

.my-padding-t {
	padding-top: 32px;
}

.my-padding-b {
	padding-bottom: 32px;
}

.my-padding {
	padding: 32px;
}

.logo-text {
	font-size: 40px;
}

.right-half {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.full-width {
	width: 100%;
}

.nav-link {
	color: #ddd;
	font-size: 14px;
	font-weight: 500;
	padding-top: 0;
	padding-bottom: 0;
}

.my-bg-dark {
	background-color: rgba(0, 0, 0, 0.5);
}

.my-dark-stay {
	background-color: rgba(0, 0, 0, 0.5);
}

.my-bg-transparent {
	background-color: rgba(0, 0, 0, 0);
}

.my-bg-light {
	background-color: rgba(255,255, 255, 0.5) ;
}

.container-card {
	padding: 0px;
}

.container-footer {
	bottom: 0px;
	position: absolute;
	width: 100%;
	text-align: center;
}

.intro-card {
	background-color: white;
	padding: 40px;
	text-align: center;
	height: 100%;
}

.navbar {
	padding-top:  0px;
	padding-bottom: 0px;
	position: fixed;
	/*top: 0;*/
	/*height: 40px;*/
	width: 100%;
	top: -5px;
	height: 35px;
	transition: top 0.3s, background-color 0.3s;
	z-index: 1100;
}

ul.nav a:hover { color: #FFF !important; }

a {
	padding-top: 0px;
}

.my-shadow {
	box-shadow: 0 2rem 3rem rgba(0,0,0,.10);
/*	box-shadow: 0 1.5rem 3rem rgba(0,0,0,.10);*/
}

.my-middle {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.my-middle2 {
	margin-top: auto;
	margin-bottom: auto;
}

.my-middle3 {
	height: 100%;
	display: flex;
	align-items: center;
}

.box {
	height: 48px;
	width: 48px;

}

.my-bottom {
	position: absolute;
	bottom: 0;
}


a.btn-icon:hover {
	background-color: rgba(255,255, 255, 0.1);
}

.btn-icon {
	font-size: 20px;
}

.footer-icon {
	color: #ddd;
}

.icon-m {
	font-size: 20px;
}

a.footer-icon:hover {
	color: white
}



.png-icon {
	width: 40px;
	height: 40px;
	margin-right: 8px;
	margin-top: 10px;
}



.card {
	border: none;
	padding: 0;
}

.card-body {
	padding: 40px;
}

.home-img {
	max-width: 100%;
	max-height: 100vh;
	margin-bottom: 40px;
}

.my-purple {
	background-color: #9a72ef;
}

.my-orange {
	background-color: #ff841c;
}

.wrapper-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 5vw;
  grid-row-gap: 20px;
  margin: 0;
}

.wrapper-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-column-gap: 5vw;
  grid-row-gap: 20px;
  margin: 0;
}

#resume-image {
	width: 100%;
	background-color: white;
}

.my-rounded {
	border-radius: 8px;
}

.my-width-s {
	max-width: 280px;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position:  fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1100;
	background-color: black;
}

.logo-rotate {
	width: 60px;
	height: 60px;
	-webkit-animation:spin 2s ease infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.jumbotron {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/*for password page image*/
.my-bg-img {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img/sky-night.JPG"); 
	position: fixed;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: -1;
}


.my-bg-img-about {
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("img/me-4.jpg");
	position: fixed;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: -1;
}

.my-bg-vid {
	position: absolute;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	filter: blur(8px);
  	-webkit-filter: blur(8px);
}

.vid-overlay {
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: black;
/*	opacity: 60%;*/
	opacity: 30%;
	z-index: -1;
}

.my-bg-img-home {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img/sky-lg.gif"); 
	position: relative;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.minvh {
	min-height: 90vh;
}

.monochrome {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.my-bg-black {
    background-color: #111;
	position: relative;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

site { overflow-x: hidden !important;}

.blurred-box{
  position: relative;
  margin-bottom: 50%;
  padding: 16px;
  width: 300px;
  height: 100%;
  background: inherit;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
}

.z-front {
position: relative;
 z-index: 1100;  
}

.active {
	border-bottom:2px solid;
	color: white;
}

.active2 {
	border-bottom:2px solid;
	color: black !important;
}

.text-center {
	text-align: center;
}

/*.my-dark {
	height:  100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}*/
/*

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/


/*Below are styles for projects*/

.carousel-item{
    min-height: 280px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.carousel-indicators {
	bottom: -15px;
}

.carousel-control-prev {
	left: -4vw;
}

.carousel-control-next {
	right: -4vw;
}

.bg-gray {
	background-color: #EBECED;
}

.bg-vrsignage {
	background-color: #683CAD;
}

.brief-icon {
	font-size: 64px;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 24px;
}

.my-fullw {
	width: 100%;
}

.toc-item {
	color: #616A72;
	margin-right: 24px;
	text-decoration: none;
}

a.toc-item:hover {
	color: black;
}

.my-illus {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.my-center {
	margin-right: auto;
	margin-left: auto;
}

.my-color {
	color: black;
}

/*.intense {
	cursor: url("img/zoom-in.png") 25 25, auto;
}
*/
.intense {
	cursor: zoom-in;
}

.persona-img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 5px solid white;
	overflow: hidden;
}

.color-ant {
	background-color: #D1E0F1;
}

.color-gray {
	background-color: #E4E4E4;
}

a.card {
	text-decoration: None;
}

.break-word {
	overflow-wrap: break-word;
}

#pre-break {
	padding-top: 70px;
}

.smoke {
	background-color: /*#F6F8FC*/ whitesmoke;
	border-radius: 8px;
	padding: 16px;
/*	box-shadow: 0 1.5rem 3rem rgba(0,0,0,.10);*/
}

.bold {
	font-weight: 500;
}

.img-box {
	aspect-ratio : 1 / 1;
	max-height: 90%;
	max-width: 90%;
}

