* {
	margin:0px;
	padding:0px;
}


html {
	font-family:verdana;
}

header {
	font-size:175%;
	text-align:center;
	font-weight:bold;
}

section {
	color:white;
	font-size:125%;
	border:5px solid black;
	text-align:center;
	font-weight:bold;
	position:relative;
	left:25px;
	top:-15px;
	width:150px;
	float:right;
}

div {
	border:5px solid black;
	margin:0.5%;
	float:left;
	box-sizing:border-box;
	padding:10px 20px 10px 20px;
	background-color:#ededed;

}

p {
	clear:both;
}

#sec1 {
	background: #e3816d;
}

#sec2 {
	background: #e3a66d;
}

#sec3 {
	background: #e3c06d;
}

@media (min-width:992px) {
	div {
		width:32.3%;
	}
}

@media (min-width:768px) and (max-width:991px){
	div {
		width:49%;
	}
	#div3 {
		width:99%;
	}
}

